<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechTalk</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <nav class = "navbar">
          <ul>
              <li class="links nav-bar"><a href="/">Home</a></li>
              <li class="links nav-bar"><a href="/dashboard">Dashboard</a></li>
              <li class="links nav-bar"><a href="/login">Login</a></li>
              <li class="links nav-bar"><a href="#" id="logout-link">Logout</a></li>
          </ul>
      </nav>
    <header>
      <h1>
        <a href="/">TechTalk</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>